.overlay:before {
    background-color:transparent !important;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
    .menu {
        top:20px;
        transition: .7s;
        padding-top:30px;
    }
}
section:nth-of-type(odd) {
    background: #fff !important;
}

@media (max-width: 767px) {
.simple-bar .menu li a {
    padding-bottom: 19px !important;
}
}

.top-bar {
    transition: all .3s ease-in-out !important; 
}

.simple-bar .nav-menu {
    padding-top: 54px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    padding-bottom: 138px;
    margin-top:59px;
}
.nav-menu a {
        color: #428bca;
        margin-top: 24px;
        padding-top: 4px;
        text-decoration: none;
}